<body class="align">
  <div class="grid align__item">
    <form class="form">
      <div class="input">
        <input type="text" class="input-field" id="Username" required />
        <label class="input-label">Username</label>
      </div>
      <div class="input">
        <input type="text" class="input-field" id="Money" required />
        <label class="input-label">Money</label>
      </div>
    </form>
    <br />
    <div class="form__field">
      <button class="submit" (click)="deposit()">Deposit</button>
    </div>
  </div>
</body>
