<body class="align">
  <div class="grid align__item">
    <div class="register">
      <form class="form">
        <div class="input">
          <input type="text" class="input-field" id="Username" required />
          <label class="input-label">Username</label>
        </div>

        <div class="input">
          <input type="password" class="input-field" id="Password" required />
          <label class="input-label">Password</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" id="FirstName" required />
          <label class="input-label">FirstName</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" id="LastName" required />
          <label class="input-label">LastName</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" id="EmailAddress" required />
          <label class="input-label">EmailAddress</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" id="Role" required />
          <label class="input-label">Role</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" id="Price" required />
          <label class="input-label">Price</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" id="Occupation" required />
          <label class="input-label">Occupation</label>
        </div>

        <div class="input">
          <input type="text" class="input-field" id="Address" required />
          <label class="input-label">Address</label>
        </div>

        <br /><br /><br />
      </form>
      <div class="form__field">
        <button class="submit" (click)="registerBtn()">register</button>
      </div>
    </div>
  </div>
</body>
